LOG_LEVEL=INFO
LLM_URL=http://int-srv:8085/metrics/ecm/gpt
LLM_TOKEN_PARAM=?token=DebugEcmTest
HH_TOKEN_URL=http://int-srv:8085/metrics/hh/accessToken
HH_OAUTH_TOKEN_URL=https://hh.ru/oauth/token
DEFAULT_TOKEN_SOURCE=ssp_soft
BASE_CLIENT_ID=
BASE_CLIENT_SECRET=
AREA_ID=113
PROFESSIONAL_ROLES=96,113
USE_MOCK_LLM=false
USE_MOCK_HH=false

