LOG_LEVEL=INFO
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME
LLM_URL=http://int-srv:8085/metrics/ecm/gpt
LLM_TOKEN_PARAM=?token=DebugEcmTest
HH_TOKEN_URL=http://int-srv:8085/metrics/hh/accessToken
AREA_ID=113
RESUME_PDF_DIR=data/resumes
# HH_TRUST_ENV_PROXY=true  # включить системный HTTP(S)_PROXY для HH
# HH_HTTPS_PROXY=http://proxy:8080
USE_MOCK_LLM=false
USE_MOCK_HH=false
