LOG_LEVEL=INFO
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME
LLM_URL=http://int-srv:8085/metrics/ecm/gpt
LLM_TOKEN_PARAM=?token=DebugEcmTest
HH_TOKEN_URL=http://int-srv:8085/metrics/hh/accessToken
AREA_ID=113
USE_MOCK_LLM=false
USE_MOCK_HH=false

